.button a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.button a:visited {
    text-decoration: none;
    color: blue;
}

.button a:hover {
    text-decoration: none;
    color: black;
    background-color: lightgray;    
}