.current-reading-list {
    font-family: 'Courier New', Courier, monospace;
} 

.current-reading-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.subject {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
}

.back-to-top {
    
    text-align: right;
}

.back-to-top a {
    text-decoration: none;
    text-transform: uppercase;
}