html {
    scroll-behavior: smooth;
}

.section {
    font-family: 'Courier New', Courier, monospace;
} 

.section ul {
    list-style-type: none;
    padding: 0;
    
}

.center-section ul {
    text-align: center;
}

.subject {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
}

.back-to-top {

    text-align: right;
}

.back-to-top a {
    text-decoration: none;
    text-transform: uppercase;
}